<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'pizza/img/favicon.png'%}">
    </head>
    <body>
    <header>
      {% include "orders/navigation.html"%}
    </header>
    <div role="main" class="container d-block mx-auto">
        {% block body %}
        {% endblock %}
        {% block message %}
        {% endblock %}
    </div>
  </body>
</html>
