{% extends "orders/base.html" %}
{# Load the tag library #}
{% load bootstrap5 %}
{% load orders_extras %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="{{menu.photo.url}}" class="img-fluid" alt="{{menu.ingredient}}" width="300"/>
        </div>
        <div class="col-md-6 col-sm-12">
          {% if menu.pizza %}
          <h1>{{menu.pizza.meal_type|get_pizza_type}}</h1>
          <h3> {{menu.ingredient}} </h3>
          <h4>{{menu.pizza.meal_size|meal_size}}</h3>
          {% endif %}
          {% if menu.sub %}
          <h1>Sub</h1>
          <h3> {{menu.ingredient}} </h3>
          <h4>{{menu.sub.meal_size|sub_meal_size}}</h3>
          {% endif %}
          {% if menu.salad %}
          <h1>Salad</h1>
          <h3> {{menu.ingredient}} </h3>
          {% endif %}
          {% if menu.pasta %}
          <h1>Pasta</h1>
          <h3> {{menu.ingredient}} </h3>
          {% endif %}
          {% if menu.dinnerplatter %}
          <h1>Dinner Platter</h1>
          <h3> {{menu.ingredient}} </h3>
          <h4>{{menu.dinnerplatter.meal_size|dinner_size}}</h3>
          {% endif %}    
          <form method="POST" class="form-group" novalidate>
            {% csrf_token %}
            {% if form %}
              {% bootstrap_form form %}
            {% endif %}
            {% buttons %}
            <button type="submit" class="btn btn-dark">
            Submit
            </button>
            {% endbuttons %}
          </form>
          <br />
        </div>
      </div>  
    </div>
    
{% endblock %}