{% load orders_extras%}
{% load widget_tweaks %}
<div id="input" class="row" style="padding:10px">
  <img src='{{order.menu_id.photo.url}}' class="col-md-6" alt='{{order.menu_id.meal_type|meal_name}} {{order.menu_id.ingredient.ingredient}}'>
  <div id="order-detail" class="col-md-6">
    <h5 id="meal" data-order="{{id}}">{{order.menu_id.meal_type|meal_name}}</h5>
    <p id="ingredient">{{order.menu_id.ingredient.ingredient}}</p>
    <p id="ingredient">{{order.menu_id.meal_size|meal_size}}</p>
    <form action="{% url 'edit-order' order_status=id %}" method="POST"
          class="form-group" novalidate>
        {% csrf_token %}
        {{ form.quantity|add_class:"form-control"}}
      <p>Price: <span id="price">{{order.menu_id.price}}</span></p>
      <h6 class="font-weight-bold">Total: <span id="total"> {{order.total}}</span></h6>
        {% if order.menu_id.topping_flag %}
          {{form.topping|add_class:"form-control"}}
          <br/>
          <br/>
        {% endif %}
        {% if order.menu_id.extras_flag %}
          {{form.extras|add_class:"form-control"}}
          <br/>
        {% endif %}
      <button type ="submit" name="operation" class="btn btn-outline-primary" value="Edit"
              style="padding:10px;"><i class="fa fa-pen" aria-hidden="true"></i> Edit </button>
      <button type ="submit" name="operation" class="btn btn-outline-primary" value="Delete"
              style="padding:10px;"><i class="fa fa-trash"></i> Delete </button>
    </form>

  <div>
</div>
<div id="order-{{id}}"></div>
