{% extends "orders/base.html" %}

{% block title %}
    My Invoices
{% endblock %}

{% block body %}
<div id="orderDetail" class="modal fade" tabIndex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modaltitle" class="modal-title"></h5>
        <button class="close pull-right" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
    {% for order in order_list %}
    <hr/>
    <div>
        <p><strong>Order Number: </strong>{{ order.id }} </p>
        <p><strong>Order Date:</strong> {{ order.order_date }} </p>
        <p><strong>Total:</strong> $ {{ order.order_total }} </p>
        <a href="{% url 'orders:detailinvoices' pk=order.id %}">
          See Details...
      </a>  
      </div>
    {% endfor %}
    {% include "orders/pagination.html"%}
    <br />
   
{% endblock %}
