{% load orders_extras %}
<table class="table table-striped">
    <thead>
      <tr>
        <th> Food </th>
        <th> Quantity </th>
        <th> Unit Price </th>
        <th> Total </th>
      </tr>
    </thead>
    <tbody>
    {% for item in carts %}
      <tr>
        <td> 
          {{ item|food_desc }}
        </td>
        <td> {{item.quantity}}</td>
        <td> ${{item.menu.price}}</td>
        <td> ${{item.sub_total_item}} 
          {% if editable %}
          <a href="{% url 'orders:updatecart' pk=item.id%}" role="button" class="btn btn-dark"> Edit Item</a>
          <a href="{% url 'orders:deletecart' pk=item.id%}" role="button" class="btn btn-dark"> Delete Item</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    {%if total%}
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>    
          <span style="font-weight:bold;">Total </span> 
        </td>
        <td>{{total}}</td>
      </tr>
    </tfoot>
    {% endif %}
    </table>
