{% extends "orders/base.html" %}
{% load static %}
{% load orders_extras %}
{% block title %}
    Food
{% endblock %}

{% block body %}
<div id='menu'>
  <div id='regular_pizza'></div>
    <h1> Regular Pizzas </h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-4"> </th>
          <th class="col-4"> Size </th>
          <th class="col-4"> Price </th>

        </tr>
      </thead>
      <tbody>
        {% for regular_pizza in regular_pizzas%}
        <tr>
          <td> {{regular_pizza}}</td>
          <td> {{ regular_pizza.meal_size|meal_size }}</td>
          <td> ${{regular_pizza.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id='sicilian_pizza'>
    <h1> Sicilian Pizzas </h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-4"> </th>
          <th class="col-4"> Size </th>
          <th class="col-4"> Price </th>
        </tr>
      </thead>
      <tbody>
        {% for sicilian_pizza in sicilian_pizzas%}
        <tr>
          <td> {{ sicilian_pizza}}</td>
          <td> {{ sicilian_pizza.meal_size|meal_size }}</td>
          <td> ${{ sicilian_pizza.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="toppings">
    <h1> Toppings / Items </h1>
    {% for topping in toppings%}
    {{topping.topping}}
    {% endfor %}
  </div>
  <div id='sub'>
    <h1> Subs </h1>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-4">  </th>
        <th class="col-4"> Size </th>
        <th class="col-4"> Price </th>
      </tr>
    </thead>
    <tbody>
      {% for sub in subs%}
      <tr data-toggle='modal' data-target='#orderForm' data-title='Sub / {{sub.ingredient}}' data-id='{{sub.id}}'
       data-meal='{{sub.meal}}'>
        <td> {{sub}}</td>
        <td> {{sub.meal_size|sub_meal_size}}</td>
        <td> ${{sub.price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div id="extras">
    <h1> Extras </h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-8">  </th>
          <th class="col-4"> Price </th>
          </tr>
      </thead>
      <tbody>
    {% for extra in extras%}
      <tr>
        <td> {{extra.extra}}</td>
        <td> ${{extra.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
  <div id='pasta'>
    <h1> Pasta </h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-8">  </th>
          <th class="col-4"> Price </th>
        </tr>
      </thead>
      <tbody>
        {% for pasta in pastas%}
        <tr data-toggle='modal' data-target='#orderForm' data-title='Pasta / {{pasta.ingredient}}' data-id='{{pasta.id}}'
         data-meal='{{pasta.meal}}'>
          <td> {{pasta.ingredient}}</td>
          <td> ${{pasta.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id='salad'>
    <h1> Salad </h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-8">  </th>
          <th class="col-4"> Price </th>
        </tr>
      </thead>
      <tbody>
        {% for salad in salads%}
        <tr data-toggle='modal' data-target='#orderForm' data-title='Salad / {{salad.ingredient}}' data-id='{{salad.id}}'
         data-meal='{{salad.meal}}'>
          <td> {{salad.ingredient}}</td>
          <td> ${{salad.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id='dinner_platter'>
    <h1> Dinner Platter </h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-4">  </th>
          <th class="col-4"> Size </th>
          <th class="col-4"> Price </th>
        </tr>
      </thead>
      <tbody>
        {% for dinner in dinner_platters%}
        <tr>
          <td> {{dinner.ingredient}}</td>
          <td> {{dinner.meal_size|dinner_size}} </td>
          <td> ${{dinner.price}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
 </div>
{% endblock %}
