{% load orders_extras %}
<table class="table table-striped">
<thead>
  <tr>
    <th> Food </th>
    <th> Quantity </th>
    <th> Unit Price </th>
    <th> Total </th>
  </tr>
</thead>
<tbody>
{% for order in order_status_list %}
  <tr id="meal" data-toggle="modal" data-target="#orderForm" data-order="{{order.id}}">
    <td> <strong>{{order.menu_id.meal_type | meal_name }} </strong> <br />
      {{ order.menu_id.ingredient.ingredient }} <br />
      {{ order.menu_id.meal_size | meal_size }} <br />
      {{order.extras}} {{order.topping}}
      </td>
    <td> {{order.quantity}}</td>
    <td> {{order.menu_id.price}}</td>
    <td> {{order.total}}</td>
  </tr>
{% endfor %}
</tbody>
<tfoot> <tr><th></th><th></th><th>Total:</th> <th>{{ order_status_list | total }}</th></tfoot>
</table>
