{% extends "orders/base.html" %}

{% block title %}
    My Cart
{% endblock %}

{% block body %}
{% load orders_extras %}
<div id="orderForm" class="modal fade" tabIndex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modaltitle" class="modal-title"></h5>
        <button class="close pull-right" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
<thead>
  <tr>
    <th> Food </th>
    <th> Quantity </th>
    <th> Unit Price </th>
    <th> Total </th>
  </tr>
</thead>
<tbody>
{% for order in order_status_list %}
  <tr id="meal" data-toggle="modal" data-target="#orderForm" data-order="{{order.id}}">
    <td> <strong>{{order.menu_id.meal_type | meal_name }} </strong> <br />
      {{ order.menu_id.ingredient.ingredient }} <br />
      {{ order.menu_id.meal_size | meal_size }} <br />
      {{order.extras}} {{order.topping}}
      </td>
    <td> {{order.quantity}}</td>
    <td> {{order.menu_id.price}}</td>
    <td> {{order.total}}</td>
  </tr>
{% endfor %}
</tbody>
<tfoot> <tr><th></th><th></th><th>Total:</th> <th>{{ order_status_list | total }}</th></tfoot>
</table>
<form action="{% url 'orders:cart' %}" method="POST">
  {% csrf_token %}
  <button type ="submit" name="operation" value="Add" class="btn btn-dark"><i class="fa fa-shopping-cart"></i> Submit </button>
</form>
<br />
{% endblock %}
