{% extends "orders/base.html" %}

{% block title %}
    My Cart
{% endblock %}

{% block body %}
{% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}
{% load orders_extras %}
{% include "orders/item_carts.html" with carts=carts editable=True total=total%}
{% if carts%}
<form action="{% url 'orders:updateinvoices' pk=carts.0.order.id%}" method="post">
  {% csrf_token %}
  <button type="submit" name="btn" value="your_value" class="btn btn-dark">Place Order</button>
</form>
{% endif%}
<br />
{% endblock %}
